.login {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.login form {
  flex: 1;
}

.login__buttons {
  text-align: center;
}
